<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Demo app</title>

  <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

  <style>
    body {
      padding-top: 5rem;
    }
  </style>

</head>

<body>
  <nav class="navbar navbar-expand-md fixed-top bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Demo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('homepage') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('foopage') }}">Foo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('barpage') }}">Bar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('echopage') }}">Echo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="container">
    {% block header %}{% endblock %}
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="container fixed-bottom bg-light">
    <p>&copy; qwiglydee@gmail.com 2024</p>
  </footer>

  <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>

</html>